{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_desc %}{% endblock %}

{% block seo %}
<meta property="og:title" content="{{ page.title }}" >
<meta property="og:type" content="website" >
<meta property="og:locale" content="{{ page.lang }}" >
<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" >
<meta name="twitter:url" content="{{ SITEURL }}/{{ page.url }}" >
<meta itemprop="url" content="{{ SITEURL }}/{{ page.url }}">
{% if page.featured_image %}
    {% if page.featured_image.startswith('http') %}
<meta property="og:image" content="{{ page.featured_image }}" >
<meta name="twitter:image" content="{{ page.featured_image }}" >
<meta itemprop="image" content="{{ page.featured_image }}">
    {% else %}
<meta property="og:image" content="{{ SITEURL }}/{{ page.featured_image }}" >
<meta name="twitter:image" content="{{ SITEURL }}/{{ page.featured_image }}" >
<meta itemprop="image" content="{{ SITEURL }}/{{ page.featured_image }}">
    {% endif %}
{% elif META_IMAGE %}
<meta property="og:image" content="{{ META_IMAGE }}" >
<meta property="og:image:type" content="{{ META_IMAGE_TYPE }}" >
<meta name="twitter:image" content="{{ META_IMAGE }}" >
<meta itemprop="image" content="{{ SITEURL }}/{{ META_IMAGE }}">
{% endif %}
{% if page.summary %}
<meta property="og:description" content="{{ page.summary|striptags|escape }}" >
<meta name="twitter:description" content="{{ page.summary|striptags|escape }}" >
<meta itemprop="description" content="{{ page.summary|striptags|escape }}">
{% endif %}
{% endblock %}

{% block content %}
<article class="uk-article uk-width-medium-4-5">
    <h1 class="uk-heading-large uk-article-title" itemprop="name">{{ page.title }}</h1>
    <div class="uk-article-content">
    {{ page.content }}
    </div>

    {% if WEBMENTION_IO_API_KEY %}
    <div id="webmentions"></div>
    {% endif %}

    {% if ENABLE_COMMENTS_ON_PAGES and DISQUS_SITENAME %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}

    {% if ENABLE_COMMENTS_ON_PAGES and ISSO_BASE_URL %}
    <script data-isso="{{ ISSO_BASE_URL }}/" src="{{ ISSO_BASE_URL }}/js/{{ ISSO_JS_FILE if ISSO_JS_FILE else 'embed.min.js' }}"
            {% if ISSO_REQUIRE_AUTHOR is defined %}
            data-isso-require-author="{{ 'true' if ISSO_REQUIRE_AUTHOR else 'false' }}"
            {% endif %}
            {% if ISSO_REPLY_NOTIFICATIONS is defined %}
            data-isso-reply-notifications="{{ 'true' if ISSO_REPLY_NOTIFICATIONS else 'false' }}"
            {% endif %}
            {% if ISSO_ENABLE_VOTE is defined %}
            data-isso-vote="{{ 'true' if ISSO_ENABLE_VOTE else 'false' }}"
            {% endif %}
            ></script>
    <div id="isso-thread"></div>
    {% endif %}
</article>
{% endblock %}
